/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

/* Overide browser default styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: #595959;
    letter-spacing: 1px;
    font-weight:  500;
    text-align: center;

    /* to keep body elements stacked vertically relative to each other */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main content styles */
.logo {
    font-size: 10vh;
}

.game-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clock {
    font-size: 36px;
}

.button {
    height: 50px;
    width: 100px;
    margin: 10px;
    background-color: #ABF8C6;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 5px #45554a;
    border-radius: 5px;
}
.cards-area {
    max-width: 900px;
    min-width: 280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cards {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 55px;
    font-size: 70px;
    box-shadow: 0 2px 5px #45554a;
    border-radius: 5px;
}

.result-area {
    height: 100px;
    text-align: center;
    color: #1E25FE;
}

.active-card-area {
    width: 40vh;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

